body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 300px;
  background-color: #000;
  color: #fff;
  padding: 15px;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.25);
}

#sidebar h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

#municipality-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #222;
  color: #fff;
  border: none;
  font-size: 14px;
}

.button-group {
  margin-bottom: 20px;
}

.button-group button {
  display: inline-block;
  width: 100%;
  margin: 2px 1%;
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.button-group button.active {
  background-color: #ade4fa;
  font-weight: bold;
  color: #000;
}

#map {
  flex-grow: 1;
}

#legend {
  margin-top: 20px;
}

#legend h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 13px;
}

.legend-color {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 3px;
  border: 1px solid #fff;
} 

@media screen and (max-width: 768px) {
  #sidebar {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
  }
  #map {
    margin-top: 300px;
  }
  .button-group button, #municipality-select {
    font-size: 12px;
  }
} 